git+https://github.com/andycasey/sdss-binder.git@py
numpy
pandas
scipy
h5py
corner
matplotlib
marimo>=0.20.0
plotly
pip
lvm_tools
matplotdrip
sdss-semaphore
pyarrow
tqdm
astropy
jax==0.7.0
cmasher
spectracles==0.6.3